@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'comments';
@import 'sport_sections';

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.email {
	color: white;
}

.search {
	float: right;
  	padding: 6px;
  	border: none;
  	margin-top: 8px;
  	margin-right: 16px;
  	font-size: 17px;
}

.search input {
	border-radius: 3px;
}

table {
	width: 100%;
	margin: 50px 0 50px 0;
}

th {
	height: 50px;
	text-align: left;
	background-color: #262626;
  	color: #9d9d9d;
}

th, td {
	border-bottom: 1px solid #ddd;
	padding: 15px;
}

th a {
	color: #9d9d9d;
}

tr:nth-child(even) {background-color: #f2f2f2;}